<div class="col" *ngIf="prodotto">
    <div class="card">
        <a [routerLink]="['/prodotto', prodotto.id]"><img [src]="prodotto.image" alt="" class="card-img-top" *ngIf="prodotto.rating.rate >= 3"></a>
        <div class="card-body">
            <h5 class="card-title">
                <a [routerLink]="['/prodotto', prodotto.id]">{{prodotto.title}}</a></h5>
            <p>
                Prezzo: {{prodotto.price | currency}}
            </p>
            <app-rating [rating]="prodotto.rating"></app-rating>
            <button *ngIf="mostraBottoneNonMiInteressa" type="button" class="btn btn-danger mt-3" (click)="nonMiInteressa()">Non mi interessa</button>
        </div>
    </div>
</div>
